<VirtualHost *:443>

  Include /etc/httpd/conf.d/00ssl.include
  SSLCertificateFile ${HTTPD_CERT_PATH}/{{ httpd_dn_prefix }}.${HTTPD_DN_SUFFIX}/cert.pem
  SSLCertificateKeyFile ${HTTPD_KEY_PATH}/{{ httpd_dn_prefix }}.${HTTPD_DN_SUFFIX}/privkey.pem
  SSLCertificateChainFile ${HTTPD_CERT_PATH}/{{ httpd_dn_prefix }}.${HTTPD_DN_SUFFIX}/chain.pem

  ServerName {{ httpd_dn_prefix }}.${HTTPD_DN_SUFFIX}
  DocumentRoot /dev/null
  Redirect 404 /

  ProxyRequests On

  ProxyPass / http://localhost:8080/
  ProxyPassReverse / http://localhost:8080/
  ProxyPreserveHost on

  <Location "/harvesterui/">
   # Basic Auth
    Satisfy any
    AuthType Basic
    AuthName "Authentication Required"
    AuthBasicProvider file
    AuthUserFile "/etc/httpd/proxypass"
    Require valid-user
    Requestheader unset Authorization
    # IP
    order deny,allow
    deny from all
    allow from 127.0.0.1
  </Location>

</VirtualHost>
